* {
    font-family: Ubuntu, sans-serif;
    background: lightgoldenrodyellow;
}

h2 {
    text-align: center;
    margin: 1.5em;
    border-bottom: 1px solid black;
}

select {
    border: 2px solid black;;
}
.addressgrid {
    display: grid;
    height: 40px;
    grid-template-columns: 1fr 1fr 100px 100px 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.addrgrid-item {
    grid-column: 2/4;
}

.addrgrid-input {
    grid-column: 4/6;
}

.featgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 100px 20px 1fr 1fr;
    place-items: start;
}

.featgrid-item {
    grid-column: 3/4;
}

.featcheckbox {
    grid-column: 4/5;
}

